:root{
    --dark:#001219;
    --main-white: #f0f8ff;
    --white:#ffffff;
    --main-red:#d90409;
}
body{
background-color: var(--main-white);
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}